.block__director{
    color: black;
    background-color: #00CAFB;
}
.block__name_film{
    color: black;
    background-color: #8b8b96;
}
.block__image{

    max-width:100%;
    height: 50%;
}
.block__cast{

    color: black;
    background-color: #c67605;
}